.all_alert{
    display: flex;

    flex-direction: column;

}
.alert{
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.523);
 
    display: grid;
    grid-template-columns:70px 1fr 70px;
align-items: center;
padding: 10px;
 max-width: 100vw;


}
.alert_font{
font-weight: 500;
font-size: 1.1rem;

}
.alert_user_name{z-index: 2;
width: fit-content;

}
.alert_main{
display: flex;
flex-direction: column;


}
.alert_post{
    font-weight: 500;
}
.alert_post_image{
height: auto;
max-height: 95%;
width: auto;
max-width: 60px;
margin: auto;

    
}
.alert_post_image_container{
    position: relative;
   height: 70px;
    background-color: rgba(0, 0, 0, 0.46);
    width:60px
    ;
    display: flex;
    border-radius: 5px;
margin: auto;
}
.comment_div{
    text-overflow: ellipsis;
   max-height:70px;
   
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
 
}
.alert_date{
    font-weight: 500;
    width: 100vw;
    text-align: end;
    padding-right: 35px;
}
@keyframes color_alert {
    0% {
        background-color: rgb(221, 38, 224);
    }

    25% {
    background-color: rgb(231, 82, 234);    }

    50% {
    background-color: rgb(232, 154, 233);    }

    75% {
    background-color: rgb(238, 196, 239);    }

    100% {
    background-color: rgb(255, 255, 255);    }


}
.color_alert {
    animation: color_alert 3s linear;
}