.chat_all_page {



 

    height: 100vh;
}



.chat_head {
    width: 100%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.256);
    display: flex;
    flex-direction: row;
    height: 80px;
   align-items: center;
   padding: 20px;
   gap: 10px;
   z-index: 100;
   background-color: rgb(255, 255, 255);
position: fixed;
top: 0;
   
   
}

.foot {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    height: 50px;
    
   
}

.foot textarea {
   padding: 5px;
}

.chat_body {

    height: 100%;

   
    display: flex;
    flex-direction: column;
    gap: 5px;
overflow-y: auto;
padding-bottom: 60px;
margin-top: 100px;

}
.chat_body::-webkit-scrollbar {
    display: none;
}