.comment_container{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 20px;
    width: 80vw;
 max-width: 700px;

}


.comment_user_name{
    font-size: 1.2rem;
    font-weight: 600;

}

.comment_user_data{
        display: flex;
            gap: 10px;
}
.comment_date{
    text-align: right;
}
.comment_bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5px;
    

}
.reply_comment{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
}
.reply_icon{
    margin-top: 2px;
}
.comment_is_reply{
   margin-left: 10%;
}
.reply_user_link{
    color: rgb(39, 118, 209);
}
.reply_container{
    font-size: 0.9rem;
    font-weight: 800;
}
.comment_user_image{
    width: 30px;
    height: 30px;
   border-radius: 20px;
}
.comment_background{


}
.delete_comment{
    text-align: end;
  
}
.comment_header{
    display: grid;
    grid-template-columns: 1fr 50px;
   align-items: center;
  
}