.menu_main{
    display: grid;
    grid-template-rows: 1fr 200px;
    padding: 10px;
    width: 95%;
    text-align: end;
    
}
span{
padding-right: 5px;
    font-size: 1.2rem;
}
.menu_main_footer{
    display: flex;
    flex-direction: column;
gap: 20px;

}
.delete_profile{
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    top: 0;
    left: 0;
    display: flex;
}
.delete_profile_massege{
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
background-color: white;
height: 100px;
width: 420px;
max-width: 90vw;
text-align: center;
padding: 10px;
border-radius: 15px;
}
.delete_profile_massege button{
    margin: 5px;
    width: 40px;
}