.all_page_cover{
    width: 100vw;
    position: fixed;
        height: 100vh;
        display: flex;
        flex-direction: column;
            overflow-y: hidden;
            top: 0;
            z-index: 100;
}


.black_cover{
 
height: 100vh;
    background-color: rgba(0, 0, 0, 0.673);
    z-index: 5;
}
.menu{
    width: 80vw;
    max-width: 400px;
        height: 100vh;
    
        position: absolute;
        background-color: rgb(255, 255, 255);
            right: 0;
            display: grid;
            grid-template-rows: 1fr 2fr;
            z-index: 6;
}